{% extends 'base.html.twig' %}

{% block title %}Edit my password{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active"><a href="{{ path('profile_show') }}">My profile</a></li>
    <li class="breadcrumb-item">Edit my password</li>
{% endblock %}

{% block body %}
    <h1>Edit my password</h1>

    {{ form_start(form) }}
        {{ form_row(form.currentPassword) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        {{ form_rest(form) }}

        <button class="btn">Edit my password</button>
    {{ form_end(form) }}

{% endblock %}
