{{ form_start(form) }}
    {% if form.category is defined %}
        {{ form_row(form.category) }}
    {% endif %}
    {{ form_row(form.subject) }}
    {{ form_widget(form.firstPost) }}

    {{ form_rest(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
