<div class="card mb-3">
    <div class="card-header">
        {{ category.title }}
    </div>
    <ul class="list-group list-group-flush">
        {% for subCategory in category.children %}
            <li class="list-group-item">
                <div class="d-inline-block align-middle">
                    <span class="fa-stack fa-1x">
                      <i class="far fa-circle fa-stack-2x"></i>
                      <i class="fas fa-list-ul fa-stack-1x"></i>
                    </span>
                </div>

                <div class="d-inline-block align-middle ml-2">
                    <a href="{{ path('category_show', {'id': subCategory.id}) }}">{{ subCategory.title }}</a>
                    {% if subCategory.description is not null %}
                        <div class="text-muted">{{ subCategory.description }}</div>
                    {% endif %}

                    {% if subCategory.hasChildren %}
                        <div class="small">
                            <span>Subforums: </span>
                            {% for subSubCategory in subCategory.children %}
                                <a href="{{ path('category_show', {'id': subSubCategory.id}) }}">{{ subSubCategory.title }}</a>{{ not loop.last ? ', ' }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
