<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-8">{{ category.title }}</div>
            <div class="col-sm-2 text-center">Answers</div>
            <div class="col-sm-2">Las message</div>
        </div>
    </div>

    <ul class="list-group list-group-flush">
        {% for thread in threads %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="d-inline-block align-middle">
                            <span class="fa-stack fa-1x">
                            <i class="far fa-circle fa-stack-2x"></i>
                            <i class="fas fa-list-ul fa-stack-1x"></i>
                            </span>
                        </div>

                        <div class="d-inline-block align-middle ml-2">
                            <a href="{{ path('thread_show', { 'categorySlug': category.slug, 'id': thread.id, 'slug': thread.slug }) }}">
                                {{ thread.subject }}
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-2 text-center align-middle">
                        <div class="d-inline-block align-middle">
                            {{ thread.numberAnswers }}
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="d-inline-block align-middle small">
                            by {{ thread.lastPost.createdBy.pseudo }}<br>
                            at {{ thread.lastPost.createdAt|date('d/m/Y H:i') }}
                        </div>
                    </div>
                </div>
            </li>
        {% else %}
            <tr>
                <td colspan="3">
                    There is no post yet.
                </td>
            </tr>
        {% endfor %}
    </ul>
</div>
