{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            {% for category in categories %}
                <div class="card mb-3">
                    <div class="card-header">
                        {{ category.title }}<br>
                        {{ category.description }}
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for subCategory in category.children %}
                            <li class="list-group-item">
                                <span class="fa-stack fa-1x align-middle">
                                  <i class="far fa-circle fa-stack-2x"></i>
                                  <i class="fas fa-list-ul fa-stack-1x"></i>
                                </span>
                                <span>
                                    <a href="{{ path('category_show', {'id': subCategory.id}) }}">{{ subCategory.title }}</a><br>
                                    {{ subCategory.description }}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
