{% extends 'base.html.twig' %}
{% import '_category_breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ category.title }} - {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    {{ breadcrumb.categoryBreadcrumb(category, true) }}
{% endblock %}

{% block body %}
    {% if false == category.hasChildren %}
        <div class="row">
            <div class="col">
                <a class="btn btn-primary mb-3" href="{{ path('thread_new', { 'slug': category.slug }) }}">
                    <span class="fa fa-plus"></span> New post
                </a>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-12">
            {% if false == category.hasChildren %}
                {{ include('category/_thread_list.html.twig') }}
            {% else %}
                {{ include('category/_categories_list.html.twig') }}
            {% endif %}
        </div>
    </div>
{% endblock %}
