{% extends 'base.html.twig' %}

{% block title %}Define new password{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('login') }}">Login</a></li>
    <li class="breadcrumb-item"><a href="{{ path('user_reset_password_request') }}">Forget password ?</a></li>
    <li class="breadcrumb-item active">Define new password</li>
{% endblock %}

{% block body %}
    <h1>Reset password</h1>

    {{ form_start(form) }}
        {{ form_row(form.plainPassword) }}
        {{ form_rest(form) }}

        <button class="btn">{{ button_label|default('Reset password') }}</button>
    {{ form_end(form) }}

{% endblock %}
